#file_contain_0{
    display: none;
}

#file_contain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.fichier{
    display: flex;
    flex-direction: column;
    margin: var(--margin);
    align-items: center;
    width: var(--t_col);
    max-height: var(--t_col);
    border-color: var(--main-color);
    border-style:solid;
    border-width: 0rem;
}

.f_nom{
    max-width: 100%;
}

.fichier img,.fichier object,.fichier video{
    max-width:100%;
    max-height:calc(100% - 1.5rem);
    margin:auto;
}

.fichier span{
    margin:auto auto 0 auto;
}

.CK{
    display: none;
    position: absolute;
    width: calc(var(--button)/2);
    height: calc(var(--button)/2);
}
