#file_contain_0{
    display: none;
}

#file_contain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.fichier{
    display: flex;
    flex-direction: column;
    margin: var(--margin);
    align-items: center;
    justify-content: space-evenly;
    width: var(--t_col);
    max-height: var(--t_col);
}

.f_nom{
    max-width: 100%;
}

.fichier img,.fichier object,.fichier video{
    max-width:100%;
    max-height:calc(100% - 2rem);
}

.CK{
    display: none;
    position:absolute;
    width: calc(var(--button)/2);
    height: calc(var(--button)/2);
}
